## MongoDb Assignment

### -------------------------------------------------------------------------------

In [3]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 5.4 MB/s eta 0:00:00a 0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 35.8 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

#### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
#### MongoDB over SQL databases?

Ans -> MongoDB is an open-source document-oriented database that is designed to store a large scale of data and also allows you to work with that data very efficiently. It is categorized under the NoSQL (Not only SQL) database because the storage and retrieval of data in the MongoDB are not in the form of tables. 

NoSQL databases (aka "not only SQL") are non-tabular databases and store data differently than relational tables. NoSQL databases come in a variety of types based on their data model. They provide flexible schemas and scale easily with large amounts of data and high user loads.
There are four major types of NoSQL databases emerged: document databases, key-value databases, wide-column stores, and graph databases.

- Document databases store data in documents similar to JSON (JavaScript Object Notation) objects. Each document contains pairs of fields and values. The values can typically be a variety of types including things like strings, numbers, booleans, arrays, or objects.
- Key-value databases are a simpler type of database where each item contains keys and values.
- Wide-column stores store data in tables, rows, and dynamic columns.
 - Graph databases store data in nodes and edges. Nodes typically store information about people, places, and things, while edges store information about the relationships between the nodes.
 
 ##### Scenarios where MongoDB databse is preferred over SQL database
 
- Relational database or RDBMS databases are vertically Scalable When load increase on RDBMS database then we scale database by increasing server hardware power, need to by expensive and bigger servers and NoSQL databases are designed to expand horizontally and in Horizontal scaling means that you scale by adding more machines into your pool of resources.

- Maintaining high-end RDBMS systems is expensive and need trained manpower for database management but NoSQL databases require less management. it supports many Features like automatic repair, easier data distribution, and simpler data models make administration and tuning requirements lesser in NoSQL.

- Lesser Server Cost and Open-Source NoSQL databases are cheap and open source. NoSQL database implementation is easy and typically uses cheap servers to manage the exploding data and transaction while RDBMS databases are expensive and it uses big servers and storage systems. So the storing and processing data cost per gigabyte in the case of NoSQL can be many times lesser than the cost of RDBMS.

- NoSQL database is schema less so Data can be inserted in a NoSQL database without any predefined schema. So the format or data model can be changed any time, without application disruption. And change management is a big headache in SQL.

### -------------------------------------------------------------------------------

#### Q2. State and Explain the features of MongoDB.

Ans -> Features of MongoDB –
 

- Schema-less Database:

It is the great feature provided by the MongoDB. A Schema-less database means one collection can hold different types of documents in it. Or in other words, in the MongoDB database, a single collection can hold multiple documents and these documents may consist of the different numbers of fields, content, and size. It is not necessary that the one document is similar to another document like in the relational databases. Due to this cool feature, MongoDB provides great flexibility to databases.

- Document Oriented:

In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS. And each document contains its unique object id.

- Indexing:

In MongoDB database, every field in the documents is indexed with primary and secondary indices this makes easier and takes less time to get or search data from the pool of the data. If the data is not indexed, then database search each document with the specified query which takes lots of time and not so efficient.

- Scalability:

MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers, here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. It will also add new machines to a running database.

- Replication:

MongoDB provides high availability and redundancy with the help of replication, it creates multiple copies of the data and sends these copies to a different server so that if one server fails, then the data is retrieved from another server.

- Aggregation:

It allows to perform operations on the grouped data and get a single result or computed result. It is similar to the SQL GROUPBY clause. It provides three different aggregations i.e, aggregation pipeline, map-reduce function, and single-purpose aggregation methods

- High Performance:

The performance of MongoDB is very high and data persistence as compared to another database due to its features like scalability, indexing, replication, etc.

### -------------------------------------------------------------------------------

#### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://ronaldo:ronaldo@cluster0.dtaslgs.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [2]:
db = client['Gym']

In [3]:
coll_create = db['Schedule']

### -------------------------------------------------------------------------------

#### Q4. Using the database and the collection created in question number 3, write a code to insert one record,
#### and insert many records. Use the find() and find_one() methods to print the inserted record.

In [1]:
data = {'Monday': 'Chest & Triceps' , 'Tuesday': 'Biceps & Shoulders' ,'Wednesday':'Back & Abs' , 'Thrusday':'Legs' , 'Friday':'Crossfit'}

In [5]:
coll_create.insert_one(data)

In [6]:
coll_create = db['Members']

In [7]:
members = [{'Name':'Aryav Dubey' , 'Plan':'2 Months' , 'Paid': 'Y' , 'Startdate': '10-Feb-23'},
           {'Name':'Ramesh Yadav' , 'Plan':'2 Months' , 'Paid': 'N' , 'Startdate': '1-Feb-23'},
           {'Name':'Abhijeet Sahu' , 'Plan':'4 Months' , 'Paid': 'N' , 'Startdate': '10-Feb-23'},
           {'Name':'Aditi Pandey' , 'Plan':'2 Months' , 'Paid': 'Y' , 'Startdate': '20-Feb-23'}
          ]

In [8]:
coll_create.insert_many(members)

In [9]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f7ae9d9b47e055cd336fbc'), 'Name': 'Aryav Dubey', 'Plan': '2 Months', 'Paid': 'Y', 'Startdate': '10-Feb-23'}
{'_id': ObjectId('63f7ae9d9b47e055cd336fbd'), 'Name': 'Ramesh Yadav', 'Plan': '2 Months', 'Paid': 'N', 'Startdate': '1-Feb-23'}
{'_id': ObjectId('63f7ae9d9b47e055cd336fbe'), 'Name': 'Abhijeet Sahu', 'Plan': '4 Months', 'Paid': 'N', 'Startdate': '10-Feb-23'}
{'_id': ObjectId('63f7ae9d9b47e055cd336fbf'), 'Name': 'Aditi Pandey', 'Plan': '2 Months', 'Paid': 'Y', 'Startdate': '20-Feb-23'}

In [10]:
coll_create.find_one()

{'_id': ObjectId('63f7ae9d9b47e055cd336fbc'),
 'Name': 'Aryav Dubey',
 'Plan': '2 Months',
 'Paid': 'Y',
 'Startdate': '10-Feb-23'}

### -------------------------------------------------------------------------------

#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
#### demonstrate this.

Ans -> When finding documents in a collection, you can filter the result by using a query object.The first argument of the find() method is a query object, and is used to limit the search.

In [12]:
for i in coll_create.find({'Plan':'2 Months'}):
    print(i)

{'_id': ObjectId('63f7ae9d9b47e055cd336fbc'), 'Name': 'Aryav Dubey', 'Plan': '2 Months', 'Paid': 'Y', 'Startdate': '10-Feb-23'}
{'_id': ObjectId('63f7ae9d9b47e055cd336fbd'), 'Name': 'Ramesh Yadav', 'Plan': '2 Months', 'Paid': 'N', 'Startdate': '1-Feb-23'}
{'_id': ObjectId('63f7ae9d9b47e055cd336fbf'), 'Name': 'Aditi Pandey', 'Plan': '2 Months', 'Paid': 'Y', 'Startdate': '20-Feb-23'}

In [13]:
for i in coll_create.find({'Paid':'N'}):
    print(i)

{'_id': ObjectId('63f7ae9d9b47e055cd336fbd'), 'Name': 'Ramesh Yadav', 'Plan': '2 Months', 'Paid': 'N', 'Startdate': '1-Feb-23'}
{'_id': ObjectId('63f7ae9d9b47e055cd336fbe'), 'Name': 'Abhijeet Sahu', 'Plan': '4 Months', 'Paid': 'N', 'Startdate': '10-Feb-23'}

### -------------------------------------------------------------------------------

#### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Ans -> The sort() method is used to sort the result in ascending or descending order.The sort() method takes one parameter for "fieldname" and one parameter for "direction" (ascending is the default direction).

In [14]:
for i in coll_create.find().sort('Startdate'):
    print(i)

{'_id': ObjectId('63f7ae9d9b47e055cd336fbd'), 'Name': 'Ramesh Yadav', 'Plan': '2 Months', 'Paid': 'N', 'Startdate': '1-Feb-23'}
{'_id': ObjectId('63f7ae9d9b47e055cd336fbc'), 'Name': 'Aryav Dubey', 'Plan': '2 Months', 'Paid': 'Y', 'Startdate': '10-Feb-23'}
{'_id': ObjectId('63f7ae9d9b47e055cd336fbe'), 'Name': 'Abhijeet Sahu', 'Plan': '4 Months', 'Paid': 'N', 'Startdate': '10-Feb-23'}
{'_id': ObjectId('63f7ae9d9b47e055cd336fbf'), 'Name': 'Aditi Pandey', 'Plan': '2 Months', 'Paid': 'Y', 'Startdate': '20-Feb-23'}

### -------------------------------------------------------------------------------

#### Q7. Explain why delete_one(), delete_many(), and drop() is used.

Ans -> delete_one():

To delete one document, we use the delete_one() method.The first parameter of the delete_one() method is a query object defining which document to delete.If the query finds more than one document, only the first occurrence is deleted.

In [15]:
coll_create.delete_one({'Name':'Aryav Dubey'})

In [16]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f7ae9d9b47e055cd336fbd'), 'Name': 'Ramesh Yadav', 'Plan': '2 Months', 'Paid': 'N', 'Startdate': '1-Feb-23'}
{'_id': ObjectId('63f7ae9d9b47e055cd336fbe'), 'Name': 'Abhijeet Sahu', 'Plan': '4 Months', 'Paid': 'N', 'Startdate': '10-Feb-23'}
{'_id': ObjectId('63f7ae9d9b47e055cd336fbf'), 'Name': 'Aditi Pandey', 'Plan': '2 Months', 'Paid': 'Y', 'Startdate': '20-Feb-23'}

Ans -> delete_many():
    
To delete more than one document, use the delete_many() method.The first parameter of the delete_many() method is a query object defining which documents to delete.

In [17]:
coll_create.delete_many({'Paid':'N'})

In [18]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f7ae9d9b47e055cd336fbf'), 'Name': 'Aditi Pandey', 'Plan': '2 Months', 'Paid': 'Y', 'Startdate': '20-Feb-23'}

Ans -> drop():
    
You can delete an entire collection by using the drop() method.

In [19]:
coll_create.drop()

In [20]:
for i in coll_create.find():
    print(i)