## MySql Assignment

### --------------------------------------------------------------------------------

#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans -> A database is information that is set up for easy access, management and updating. Computer databases typically store aggregations of data records or files that contain information, such as sales transactions, customer data, financials and product information.Databases are used for storing, maintaining and accessing any sort of data.

Differnce betwenn SQL and NoSQL is as follows:

 - Databases are categorized as Relational Database Management System (RDBMS).	NoSQL databases are categorized as Non-relational or distributed database system.
 - SQL databases have fixed or static or predefined schema.	NoSQL databases have dynamic schema.
 - SQL databases display data in form of tables so it is known as table-based database.	NoSQL databases display data as collection of key-value pair, documents, graph databases or wide-column stores.
- SQL databases are vertically scalable.	NoSQL databases are horizontally scalable.
- SQL databases use a powerful language "Structured Query Language" to define and manipulate the data.	In NoSQL databases, collection of documents are used to query the data. It is also called unstructured query language. It varies from database to database.
- SQL databases are best suited for complex queries.	NoSQL databases are not so good for complex queries because these are not as powerful as SQL queries.
 - SQL databases are not best suited for hierarchical data storage.	NoSQL databases are best suited for hierarchical data storage.
 - MySQL, Oracle, Sqlite, PostgreSQL and MS-SQL etc. are the example of SQL database.	MongoDB, BigTable, Redis, RavenDB, Cassandra, Hbase, Neo4j, CouchDB etc. are the example of nosql database

### --------------------------------------------------------------------------------

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans -> DDL or Data Definition Language actually consists of the SQL commands that can be used to define the database schema. It simply deals with descriptions of the database schema and is used to create and modify the structure of database objects in the database. DDL is a set of SQL commands used to create, modify, and delete database structures but not data. These commands are normally not used by a general user, who should be accessing the database via an application.

 - CREATE: This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).

In [ ]:
 # Example
        - create DATABASE CBS
        - create table NPS.studentsmaster(Rollno varchar(50) NOT NULL PRIMARY KEY , Name varchar(50) , Class varchar(20))

 -  DROP: This command is used to delete objects from the database. It can be used  to delete a whole database or just a table.

In [ ]:
  # Example
        - DROP TABLE table_name
        - DROP DATABASE database_name

 - TRUNCATE: This command is used to delete all the rows or tuples from a table. Unlike the DELETE command, the TRUNCATE command does not contain a WHERE clause.

In [ ]:
 # Example 
        - TRUNCATE TABLE TableName

 - Diffrence between ALTER and DROP

  1. Truncate is normally ultra-fast and its ideal for deleting data from a temporary table.
  2. Truncate preserves the structure of the table for future use, unlike drop table where the table is deleted with its full structure.
  3. Table or Database deletion using DROP statement cannot be rolled back, so it must be used wisely.

 - ALTER: The statement changes the structure or schema of an already created database table by adding or removing one or more columns. The ALTER statement can be used to change several other attributes of the tables such as the name of the table and name of the columns.The ALTER also adds or removes one or more constraints and indexes as well.

In [ ]:
 # Example:
        - ALTER TABLE table_name ADD new_column_name column_definition [FIRST | AFTER column_name]
        - ALTER TABLE table_name DROP COLUMN column_name 
        - ALTER TABLE table_name MODIFY column_name column_definition [ FIRST | AFTER column_name ]

### --------------------------------------------------------------------------------

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans -> The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes insert , update and delete statements

##### Insert statement:

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("insert into MANIT.studentsmaster values('181112003','Aryav Dubey','CSE')")
mycursor.execute("insert into MANIT.studentsmaster values('181112001','Rishab Jaiswal','CSE')")
mycursor.execute("insert into MANIT.studentsmaster values('181112002','Adite Khandelwal','CSE')")
mydb.commit()
mydb.close()

##### Update statement:

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("update MANIT.studentsmaster set Branch = 'Mech' where name = 'Aryav Dubey'")
mydb.commit()
mydb.close()

##### Delete statement:

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
sql = "DELETE FROM MANIT.studentsmaster WHERE Rollno = '181112003'"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record(s) deleted")
mydb.close()

### --------------------------------------------------------------------------------

#### Q4.What is DQL? Explain SELECT with an example.

Ans -> Data query language (DQL) is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end. In python we use fetchall() which is one of the method of cursor object which fetches all rows from the last executed statement.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("select * from MANIT.studentsmaster")
for i in mycursor.fetchall():
    print(i)

### --------------------------------------------------------------------------------

#### Q5. Explain Primary Key and Foreign Key.

Ans -> A primary key generally focuses on the uniqueness of the table. It is a column or a set of columns that uniquely distinguishes every row in the database. It means it should not have any duplicate value. Also, it doesn’t contain a NULL value. Ex- rollno in students database.

In [ ]:
create table MANIT.studentsmaster
(Rollno varchar(50) NOT NULL PRIMARY KEY,
 Name varchar(50),
 Branch varchar(20)
)

Ans -> A foreign key is generally used to build a relationship between the two tables. The major purpose of the foreign key is to sustain data integrity between two separate instances of an entity.It is a column (or columns) that references a column (most often the primary key) of another table.It can contain duplicate values and null values. This is mostly useful when we need to join two or more tables.

In [ ]:
create table NPS.librarylends (
    OrderID int NOT NULL PRIMARY KEY,
    OrderDate DATE NOT NULL,
    OrderDurationWeeks int NOT NULL
    StudentID varchar(50) FOREIGN KEY REFERENCES MANIT.studentsmaster(Rollno)
);

### --------------------------------------------------------------------------------

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans -> cursor() is one of the method of the connection object which helps to execute the query and fetch the records from the database. It is created after the connection is established and gives cursor object which acts as a middleware between database connection and SQL query.

The execute () method helps us to execute the query just like normal SQL and return records according to the query.The passed query should be a string type. Its return type is int and gives 0 for successful execution and 1 for error. Also it gives no of rows affected if qurey is 
to alter the rows.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE MANIT")
mydb.close()

### --------------------------------------------------------------------------------

#### Q7. Give the order of execution of SQL clauses in an SQL query.

Ans -> Queries in SQL are no actually read from top to bottom when carried out.

The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.